@font-face {
  font-family: "Guardian Egypt";
  src: url("../fonts/Guardian Egyp-Regular.otf") format("opentype");
}
@font-face {
  font-family: "Guardian Egypt";
  font-weight: 100;
  font-style: italic;
  src: url("../fonts/Guardian Egyp-Hairline It.otf") format("opentype");
}
@font-face {
  font-family: "Guardian Egypt";
  font-weight: 100;
  src: url("../fonts/Guardian Egyp-Hairline.otf") format("opentype");
}
@font-face {
  font-family: "Guardian Egypt";
  font-weight: 600;
  src: url("../fonts/Guardian Egyp-Semibold.otf") format("opentype");
}

body {
  background-color: #000;
  color: #fff;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Guardian Egypt", Georgia, serif;
}

.tooltip-inner {
  font-family: "Guardian Egypt", Georgia, serif;
  font-weight: 100;
  font-size: 18px;
}

#index-nav h1 {
  text-align: center;
}

#index-nav h1 #line1 {
  font-weight: 100;
  font-style: italic;
}

#index-nav h1 #line2 {
  font-weight: 600;
  text-transform: uppercase;
}

#index-map {
  position: static;
}

#logo {
  text-align: center;
}
#logo img {
  display: inline;
}

.modal-content {
  background-color: #000;
}

.modal-backdrop.in {
  opacity: .8;
}

.modal-body {
  padding-top: 10px;
}

.modal-body p {
  margin-bottom: 10px;
}

.modal-body .victims {
  font-family: "Guardian Egypt", Georgia, serif;
  font-size: 16px;
}

.close {
  font-size: 36px;
  color: #fff;
  text-shadow: 0 2px 0 #000;
  opacity: .7;
}

.close:hover {
  color: #fff;
  opacity: 1;
}

.modal-header {
  border-color: #555;
  padding-top: 4px;
  padding-bottom: 4px;
  background-color: rgba(0,0,0,0.5);
}

.modal-header .close {
  margin-top: -2px;
}

.btn-watch {
  color: #fff;
  background-color: #555;
}
.btn-watch:hover {
  background-color: #333;
  color: #ddd;
}


#espacio-canvas {
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

#marker-list h2 {
  margin-top: 0;
  font-size: 20px;
}

#marker-list .row {
  margin-bottom: 20px;
}
#marker-list .col-xs-5 {
  padding-right: 0;
}
#marker-list i {
  font-size: 12px;
}

.video {
  position: absolute;
  width: 59%;
  left: 20%;
  padding-bottom: 33%;
  border: 2px solid #000;
  -webkit-box-shadow: 3px 3px 14px 4px rgba(0,0,0,0.75);
  -moz-box-shadow: 3px 3px 14px 4px rgba(0,0,0,0.75);
  box-shadow: 3px 3px 14px 4px rgba(0,0,0,0.75);
}
.video iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#fullscreen, #markers {
  display: none;
}

@media (min-width: 700px) {
  body {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    overflow: hidden;
  }

  .modal-content {
    background-color: rgba(100, 100, 100, 0.2);
  }

  #marker-list {
    display: none;
  }

  #index-nav h1 span {
    display: block;
  }

  #index-map {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    background-image: url(../img/map_home.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
  }

  #markers {
    display: block;
  }

  .marker {
    position: absolute;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    border: 1px solid #fff;
  }

  .marker-inner {
    margin-left: 2px;
    margin-top: 2px;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    border: 6px solid #fff;
  }

  #index-nav {
    padding-left: 25px;
    width: 13%;
  }

  #fullscreen {
    display: block;
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 22px;
  }

  #logo {
    position: absolute;
    bottom: 20px;
    left: 20px;
    width: 10%;
  }
}

@media (min-width: 768px) {
  .modal-dialog {
    width: 500px;
    margin: 30px auto;
  }
}

@media (min-width: 992px) {
  .modal-lg {
    width: 800px;
  }
}
