@font-face {
  font-family: "Guardian Egypt";
  src: url("../fonts/Guardian Egyp-Regular.otf") format("opentype");
}
@font-face {
  font-family: "Guardian Egypt";
  font-weight: 100;
  font-style: italic;
  src: url("../fonts/Guardian Egyp-Hairline It.otf") format("opentype");
}
@font-face {
  font-family: "Guardian Egypt";
  font-weight: 100;
  src: url("../fonts/Guardian Egyp-Hairline.otf") format("opentype");
}
@font-face {
  font-family: "Guardian Egypt";
  font-weight: 600;
  src: url("../fonts/Guardian Egyp-Semibold.otf") format("opentype");
}

body {
  background-color: #000;
  color: #fff;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Guardian Egypt", Georgia, serif;
}

.tooltip-inner {
  font-family: "Guardian Egypt", Georgia, serif;
  font-weight: 100;
  font-size: 18px;
}

#index-nav h1 #line1 {
  font-weight: 100;
  font-style: italic;
}

#index-nav h1 #line2 {
  font-weight: 600;
  text-transform: uppercase;
}

#index-map {
  width: 90%;
  margin: 0 auto;
}

.modal-content {
  background-color: rgba(200, 200, 200, 0.2);
}

.modal-backdrop.in {
  opacity: .8;
}

.modal-body p {
  margin-bottom: 15px;
}

.close {
  font-size: 36px;
  color: #fff;
  text-shadow: 0 2px 0 #000;
  opacity: .7;
}

.close:hover {
  color: #fff;
  opacity: 1;
}

.modal-header {
  border-color: #555;
  padding-top: 4px;
  padding-bottom: 4px;
  background-color: rgba(0,0,0,0.5);
}

.modal-header .close {
  margin-top: -2px;
}

.btn-watch {
  margin-top: -12px;
  margin-bottom: 10px;
  float: right;
  color: #fff;
  background-color: #000;
}

#espacio-canvas {
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.video {
  position: absolute;
  width: 55%;
  left: 25%;
  padding-bottom: 31%;
}
.video iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@media (min-width: 700px) {
  body {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    overflow: hidden;
  }

  #index-nav h1 span {
    display: block;
  }

  #index-map {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    background-image: url(../img/map_home.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
  }

/*  :-webkit-full-screen #index-map {
    width: 100%;
  }*/

  .marker {
    position: absolute;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    border: 1px solid #fff;
  }

  .marker-inner {
    margin-left: 2px;
    margin-top: 2px;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    border: 6px solid #fff;
  }

  #index-nav {
    padding-left: 25px;
    width: 13%;
  }

  #fullscreen {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 22px;
  }

  #logo {
    position: absolute;
    bottom: 20px;
    left: 20px;
    width: 10%;
  }
}

@media (min-width: 768px) {
  .modal-dialog {
    width: 500px;
    margin: 30px auto;
  }
}

@media (min-width: 992px) {
  .modal-lg {
    width: 800px;
  }
}