[submodule "_blueprint"]
	path = _blueprint
	url = https://github.com/newsapps/tarbell-template
[submodule "fonts"]
	path = fonts
	url = git@github.com:eads/guardian-font.git
[submodule "img"]
	path = img
	url = git@github.com:eads/geografia-images.git
