{% extends "_geografia_base.html" %}
{% set slug = state|slugify|lower %}

{% block opengraph %} 
<meta property="og:url" content="http://{{ ROOT_URL }}/espacio/{{ slug }}/" />
<meta property="og:title" content="{{ title }}: {{ victim }} ({{ state }})" />
<meta property="og:type" content="website" />
<meta property="og:image" content="http://{{ ROOT_URL }}/img/espacios/espacio_{{ slug }}.jpg" />
<meta property="og:description" content="{{ story_es }} / {{ story_en }}" />
{% endblock opengraph %}

{% block content %}

<div id="espacio-canvas"></div>

<div class="container espacio">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <h1>{{ victim }}</h1>
      <h2>{{ state }}</h2>
    </div>
  </div>
  {% if vimeo %}
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <div class="video">
        <iframe src="//player.vimeo.com/video/{{ vimeo|int }}?badge=0&title=0&portrait=0&byline=0" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>   
      </div>
    </div>
  </div>
  {% endif %}
  <div class="row">
    <div class="share">
      <a href="{{ relative_root }}" class="nav-tool nav-share back" data-toggle="tooltip" data-placement="top" data-title="Home"></a>
      <a class="nav-tool nav-share twitter" data-toggle="tooltip" data-placement="top" data-title="Twitter" data-share-en="{{ twitter_msg_en }}" data-share-es="{{ twitter_msg_es }}" target="_blank" href="http://twitter.com/share?url=http%3A%2F%2F{{ ROOT_URL }}%2Fespacio%2F{{ slug }}%2f&text={{ twitter_msg_es }}"></a>
      <a class="nav-tool nav-share facebook" data-toggle="tooltip" data-placement="top" data-title="Facebook" target="_blank" href="http://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2F{{ ROOT_URL }}%2Fespacio%2F{{ slug }}%2f"></a>
    </div>
  </div>

  <div class="story">
    <div class="row">
      <div class="col-md-7">
      {% if gallery_size > 1 %}
      <div id="{{ slug }}-gallery" class="gallery carousel slide" data-ride="carousel" data-interval="12000">
        <div class="carousel-inner">
          {% for x in range(1, gallery_size + 1) %}
          <div class="item {% if x == 1 %}active{% endif %}">
            <img class="img-responsive" src="{{ relative_root }}img/{{ slug }}/{{ slug }}-{{ x }}.jpg" />
          </div>
          {% endfor %}
        </div>
        <a class="left carousel-control" href="#{{ slug }}-gallery" role="button" data-slide="prev">
          <span class="glyphicon glyphicon-chevron-left"></span>
        </a>
        <a class="right carousel-control" href="#{{ slug }}-gallery" role="button" data-slide="next">
          <span class="glyphicon glyphicon-chevron-right"></span>
        </a>
      </div>
      {% else %}
        <img class="gallery img-responsive" src="{{ relative_root }}img/{{ slug }}/{{ slug }}-1.jpg" />
      {% endif %}
      </div>
      <div class="col-md-5">
        {% if story_es %}
        <p>{{ story_es }}</p>
        {% endif %}
        {% if story_es and story_en %}<hr />{% endif %}
        {% if story_en %}
        <p>{{ story_en }}</p>
        {% endif %}
      </div>
    </div>
  </div>

</div>
{% endblock %}

{% block css %}
<style>
 #espacio-canvas {
    background-image: url({{ relative_root }}img/espacios/espacio_{{ slug }}.jpg);
  }
</style>
{% endblock %}
