{% extends "_geografia_base.html" %}

{% block css %}
<style>
 #espacio-canvas {
    background-image: url(../../img/espacios/espacio_{{ slug }}.jpg);
  }
</style>
{% endblock %}

{% block content %}

<div id="espacio-canvas"></div>

<div class="container espacio">
  <div class="row">
    <div class="col-xs-12">
      <div class="video">
        <iframe src="//player.vimeo.com/video/{{ vimeo|int }}?badge=0&title=0&portrait=0&byline=0" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>   
      </div>
    </div>
  </div>
  <div class="row">
        <div class="share">
          <a href="../../" class="nav-tool nav-share back" data-toggle="tooltip" data-placement="top" data-title="Casa / Home"></a>
          <a class="nav-tool nav-share twitter" data-toggle="tooltip" data-placement="top" data-title="Twitter" data-share-en="{{ twitter_msg_en }}" data-share-es="{{ twitter_msg_es }}" target="_blank" href="http://twitter.com/share?url=http://{{ ROOT_URL }}/{{ PATH }}&text={{ twitter_msg_es }}"></a>
          <a class="nav-tool nav-share facebook" data-toggle="tooltip" data-placement="top" data-title="Facebook" target="_blank" href="http://www.facebook.com/sharer/sharer.php?u=http://{{ ROOT_URL }}/{{ PATH }}"></a>
        </div>
  </div>

  <div class="row">
    <div class="col-sm-6">
      {% if story_es %}
      <p>{{ story_es }}</p>
      {% endif %}
    </div>
    <div class="col-sm-6">
      {% if story_en %}
      <p>{{ story_en }}</p>
      {% endif %}
    </div>
  </div>
</div>
{% endblock %}
