{% extends "_base.html" %}

{# blank out nav and footer #}
{% block nav %}{% endblock %}
{% block footer %}{% endblock %}

{% block library_scripts %}
{{ super() }}
<script type="text/javascript" src="{{ relative_root }}js/jquery.fittext.min.js"></script>
<script type="text/javascript" src="{{ relative_root }}js/jquery.lazyload.min.js"></script>
<script type="text/javascript" src="{{ relative_root }}js/multilingual_social_media.js"></script>
{% endblock %}

{% block library_css %}
{{ super() }}
<link rel="stylesheet" type="text/css" href="{{ relative_root }}fonts/icons/css/geografia.css" />
<link rel="stylesheet" type="text/css" href="{{ relative_root }}css/style.css" />
{% endblock library_css %}
