{% extends "_base.html" %}

{# @TODO Not sure how we will do this yet #}
{% if PATH.startswith("en/") %}
  {% set lang = "en" %}
{% else %}
  {% set lang = "es" %}
{% endif %}

{# blank out nav and footer #}
{% block nav %}{% endblock %}
{% block footer %}{% endblock %}

{% block library_scripts %}
{{ super() }}
<script type="text/javascript" src="{{ relative_root }}js/jquery.min.js"></script>
<script type="text/javascript" src="{{ relative_root }}js/bootstrap.min.js"></script>
<script type="text/javascript" src="{{ relative_root }}js/jquery.fittext.min.js"></script>
<script type="text/javascript" src="{{ relative_root }}js/jquery.lazyload.min.js"></script>
{% endblock %}

{% block library_css %}
<link rel="stylesheet" type="text/css" href="{{ relative_root }}css/bootstrap.min.css" />
<link rel="stylesheet" type="text/css" href="{{ relative_root }}css/style.css" />
{% endblock library_css %}
