{% extends "_geografia_base.html" %}

{% block content %}
<div id="index-map">
  <div id="index-nav">
    <h1>
      <span id="line1">Geografía del</span>
      <span id="line2">Dolor</span>
    </h1>
  </div>

  <div id="logo">
    <a href="http://sacbeproducciones.com/"><img src="img/sacbe-logo.png" class="img-responsive" /></a>
  </div>

  <div id="fullscreen">
    <i class="glyphicon glyphicon-fullscreen"></i>
  </div>

  {% for marker in markers %}
  	<div data-toggle="modal" data-keyboard="true" data-target="#{{ marker.state|slugify|lower }}-modal" class="marker" style="top: {{ marker.y }}%; left: {{ marker.x }}%">
     <div class="marker-inner" data-toggle="tooltip" data-placement="top" data-title="{{ marker.state }}"></div>
    </div>
	{% endfor %}
</div>

{% for marker in markers %}

{% set gallery_size = marker.gallery_size|int %}
{% set slug = marker.state|slugify|lower %}

<div class="modal fade" id="{{ slug }}-modal" tabindex="-1">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h3 class="modal-title">{{ marker.state }}</h3>
      </div>
      <div class="modal-body">
        <p>
          {{ marker.victim }}
          <a href="#TK" class="btn btn-watch">Conoce la historia <i class="glyphicon glyphicon-play-circle"></i></a>
        </p>
        {% if gallery_size > 1 %}
        <div id="{{ slug }}-gallery" class="carousel slide" data-ride="carousel" data-interval="false">
          <div class="carousel-inner">
            {% for x in range(1, gallery_size + 1) %}
            <div class="item {% if x == 1 %}active{% endif %}">
              <img class="img-responsive {% if x != 1 %}lazy{% endif %}" {% if x != 1 %}data-original{% else %}src{% endif %}="img/{{ slug }}/{{ slug }}-{{ x }}.jpg" />
            </div>
            {% endfor %}
          </div>
          <!-- Controls -->
          <a class="left carousel-control" href="#{{ slug }}-gallery" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
          </a>
          <a class="right carousel-control" href="#{{ slug }}-gallery" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
          </a>
        </div>
        {% else %}
          <img class="img-responsive" src="img/{{ slug }}/{{ slug }}-1.jpg" />
        {% endif %}
      </div>
    </div>
  </div>
</div>
{% endfor %}

{% endblock content %}

{% block scripts %}
<script>

// Use natural aspect ratio of map to set height and maintain
// proper marker size
var sizeMap = function() {
  var width = $('#index-map').width(),
      windowHeight = $(window).height(),
      aspect = 0.5625,
      height = width * aspect,
      top = ((windowHeight / 2) - (height / 2));

  $('#index-map').css({
    'height': height + 'px',
    'top': (top > 0) ? top + 'px' : 0,
  });
}

var requestFullScreen = function() {
  var element = document.body;

  // Supports most browsers and their versions.
  var requestMethod = element.requestFullScreen || element.webkitRequestFullScreen || element.mozRequestFullScreen || element.msRequestFullScreen;

  if (requestMethod) { // Native full screen.
    requestMethod.call(element);
  } else if (typeof window.ActiveXObject !== "undefined") { // Older IE.
    var wscript = new ActiveXObject("WScript.Shell");
    if (wscript !== null) {
      wscript.SendKeys("{F11}");
    }
  }
}

$(document).ready(function() {
  // Size map on init, also resize
  sizeMap();
  $(window).on('resize', sizeMap);

  // Fit the headline text
  $("#line1").fitText(0.57);
  $("#line2").fitText(0.38);

  // Tooltips
  $('.marker-inner').tooltip();

  // Lazy load images in modal boxes
  $('.modal').on('shown.bs.modal', function(e) {
    $(e.currentTarget).find('img.lazy').each(function() {
      var src = $(this).data('original');
      $(this).attr('src', src);
    })
  });

  // Attach fullscreen button behavior
  $('#fullscreen i').on('click', requestFullScreen);
})

</script>
{% endblock %}
