{% extends "_geografia_base.html" %}

{% block content %}
<div id="index-map">
  <h1 id="project-title">
    <span id="line1">Geografía del</span>
    <span id="line2">Dolor</span>
  </h1>

  <div id="tools">
    <div class="container-fluid">
      <div class="row">
        <div class="share">
          <a class="nav-tool nav-share twitter" data-toggle="tooltip" data-placement="top" data-title="Twitter" data-share-en="{{ twitter_msg_en }}" data-share-es="{{ twitter_msg_es }}" target="_blank" href="http://twitter.com/share?url=http://{{ ROOT_URL }}/{{ PATH }}&text={{ twitter_msg_es }}"></a>
          <a class="nav-tool nav-share facebook" data-toggle="tooltip" data-placement="top" data-title="Facebook" target="_blank" href="http://www.facebook.com/sharer/sharer.php?u=http://{{ ROOT_URL }}/{{ PATH }}"></a>
        </div>
        <div class="buttons">
          <div id="fullscreen" class="nav-tool">
            <i class="icon icon-resize-full active" data-toggle="tooltip" data-placement="bottom" data-title="Fullscreen"></i>
            <i class="icon icon-resize-small" data-toggle="tooltip" data-placement="bottom" data-title="Exit fullscreen"></i>            
          </div>
          <div id="mute" class="nav-tool">
            <i class="icon icon-volume-off active" data-toggle="tooltip" data-placement="bottom" data-title="Mute"></i>
            <i class="icon icon-volume-up" data-toggle="tooltip" data-placement="bottom" data-title="Play music"></i>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="markers">
  {% for marker in markers %}
    {% set slug = marker.state|slugify|lower %}
    <div id="marker-{{ slug }}" class="marker" style="top: {{ marker.y }}%; left: {{ marker.x }}%">
     <a href="espacio/{{ slug }}/" class="marker-inner" data-toggle="tooltip" data-placement="top" data-title="<h3>{{ marker.victim }}</h3><p>{{ marker.state }}</p>" ></a>
    </div>
  {% endfor %}
  </div>

  <div id="marker-list">
    <div class="container">
      {% for marker in markers %}
      {% set slug = marker.state|slugify|lower %}
      <div class="row">
        <a href="espacio/{{ slug }}/">
          <div class="col-xs-5">
            <img class="img-responsive" src="img/{{ slug }}/{{ slug }}-1.jpg" />
          </div>
          <div class="col-xs-7">
            <h2>{{ marker.victim }} <i class="glyphicon glyphicon-chevron-right"></i></h2>
            <p>
              {{ marker.state }}
            </p>
          </div>
        </a>
      </div>
      {% endfor %}
    </div>
  </div>

  <div id="logo">
    <a href="#credits" data-toggle="modal" data-target="#credits">Créditos</a>
    <a href="http://sacbeproducciones.com/"><img src="img/sacbe-logo.png" /></a>
  </div>

  <div id="quotes">
    <div id="quote-carousel" class="carousel slide" data-ride="carousel" data-interval="11000">
      <div class="carousel-inner">
        {% set quotes = markers|filter_quotes %}
        {% for marker in quotes %}
        {% set slug = marker.state|slugify|lower %}
        <div class="item {% if loop.index == 1 %}active{% endif %}" data-state="{{ slug }}">
          <div class="item-table-wrapper">
            <a class="item-cell-wrapper" href="espacio/{{ slug }}/">
              {% if marker.quote_es %}
              <p>{{ marker.quote_es|process_text }}</p>
              {% endif %}
              <p class="state">&mdash; {{ marker.state }} &mdash;</p>
              {% if marker.quote_en %}
              <p>{{ marker.quote_en|process_text }}</p>
              {% endif %}
            </a>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>

</div>

<div id="credits" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h3 class="modal-title">Créditos</h4>
      </div>
      <div class="modal-body">
        <ul>
          {% for credit in credits %}
          <li><strong>{{ credit.role }}</strong> {{ credit.people|process_text }}</li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
</div>

<audio id="soundtrack" src="img/audio/geografia.mp3"></audio>

{% endblock content %}
