{% extends "_geografia_base.html" %}

{% block content %}
<div id="index">
  {% for marker in markers %}
  	<div class="marker" style="top: {{ marker.y }}%; left: {{ marker.x }}%">
     <div class="marker-inner"></div>
    </div>
	{% endfor %}
</div>
{% endblock content %}

{% block scripts %}
<script>
var sizeMap = function() {
  var width = $('#index').width();
  var aspect = 0.5625;
  $('#index').height(width * aspect)
}

$(document).ready(function() {
  sizeMap();
  $(window).on('resize', sizeMap);
})

</script>
{% endblock %}
